<div data-role="footer" data-position="fixed" data-fullscreen="true">
    <div data-role="navbar">
        <ul>
        <li>
            <a <if condition="[footbut] eq 1 ">class="ui-btn-active"</if> href="#pageone" data-icon="grid" data-transition="none">介绍</a>
        </li>
        <li>
            <a <if condition="[footbut] eq 2 ">class="ui-btn-active"</if> href="#pagetwo" data-icon="heart" data-transition="none">投票</a>
        </li>
        <li>
            <a <if condition="[footbut] eq 3 ">class="ui-btn-active"</if> href="#pagethree" data-icon="star" data-transition="none">规则</a>
        </li>
        </ul>
    </div>
</div>
<!-- /navbar -->
