<div style="bottom:0;position:absolute;width:100%;background-color: #f7f8ed;border-top: 1px solid #ccc;">
	<div style="position:absolute;margin:2.7% 0 0 5%;">
	<a style="background:#de533c;border-radius:6px 6px 0 0;padding:16% 8% 8.5% 8%;border:0;"><img width=50% src="__PUBLIC__/images/logo.png" style="vertical-align:baseline"/></a></div>
	<div style="float:right;margin:0 13% 0 20%;">
	<p style="font-size:0.8em;color:#333;text-align:center;margin:0.7em">主办单位：校团委宣传部<br />
924155240@qq.com</p>
	</div>
</div>
<!-- /support -->
